fastapi
uvicorn
supabase
mcp
pydantic-settings
# Security & Cryptography
cryptography
python-dotenv

google-api-python-client
google-auth
google-auth-oauthlib
google-generativeai
torch
faster-whisper
pyannote.audio
